<div>
    <nav class="header_top">
        <div class="header_menu">
            <div class="header_menu_icon">
                <mat-icon>menu</mat-icon>
            </div>
            <img src="assets/groco_logo.png" class="header_menu_logo">
            <div class="header_menu_signin">
                <span class="header_menu_top_item" (click)="goToSignUp()">Sign Up</span>
                <span class="header_menu_bottom_item" (click)="goToSignIn()">Hello! Login</span>
            </div>
            <div class="header_menu_signin">
                <span class="header_menu_top_item">Returns</span>
                <span class="header_menu_bottom_item" (click)="goToOrders()">& Orders</span>
            </div>
            <div class="header_menu_cart" (click)="goToCart()">
                <div>
                    <mat-icon>shopping_basket</mat-icon>
                </div>
                <div><p class="header_cart_number">3</p></div>
            </div>
        </div>
    </nav>

    <nav class="header_bottom"></nav>
</div>