<mat-card>
    
<h1>Tracking ID: 260879856652</h1>
<h2>Arriving till 5pm</h2>

<input type="checkbox" checked>
Ordered today,1:12 pm<br><div class= "vertical"></div>
<p><input type="checkbox" checked>
Shipped today<br>
Package arrived at an Amazon facility at LEATHER COMPLEX INDUSTRIAL AREA,<br>
PUNJAB at 3:32 PM</p><div class= "vertical1"></div><div class= "vertical3">
</div><div class= "vertical2"></div><div class= "vertical3">
</div><div class= "vertical4"></div><div class= "vertical3">
</div><div class= "vertical5"></div>
<h3><input type="checkbox">
Out for delivery<br><br><br><br>
<input type="checkbox">
 Arriving till 5pm</h3>

<div class="right">
  <img src="img/badam.jpeg">
</div>

</mat-card>